<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/Assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Assets/css/index.css">
  <title>The legend of Zelda: Breath of the wild</title>
  <link rel="shortcut icon" href="/Assets/img/ico.png">
</head>


<body>
  
  <nav>
    <a href="/">Inicio</a>
    <a href="/page1">Información General</a>
    <a href="/page2">Características</a>
    <a href="/page3">Galería de Imágenes</a>
    <a href="/page4">Resumen de la Historia</a>
    <a href="/form">Formulario</a>

  </nav>
  <header>
    <h1>The Legend of Zelda: Breath of the Wild</h1>
    <p>Explora el vasto y asombroso mundo de Hyrule en este épico juego de aventuras.</p>
    <img src="/Assets/img/763px-BotW_NA_Logo.webp" alt="" width="500em">
  </header>

  <footer>
    <p>&copy; 2023 Samir Spraud Rodriguez</p>
  </footer>
  <script src="/Assets/js/bootstrap.js"></script>
  <script src="/Assets/js/jquery-3.6.3.min.js"></script>
</body>

</html>