<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/Assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Assets/css/index.css">
  <link rel="stylesheet" href="/Assets/css/page1.css">
  <title>The Legend of Zelda: Breath of the Wild</title>
  <link rel="shortcut icon" href="/public/Assets/img/ico.png">
</head>

<body>
  <nav>
    <a href="/">Inicio</a>
    <a href="/page1">Información General</a>
    <a href="/page2">Características</a>
    <a href="/page3">Galería de Imágenes</a>
    <a href="/page4">Resumen de la Historia</a>
    <a href="/form">Formulario</a>

  </nav>
  <header>

  </header>

  <div id="informacion-general" class="text-center">
    <h1>Información General</h1>
    <p>Olvida todo lo que sabes acerca de los juegos de la serie The Legend of Zelda. Explora y descubre un mundo lleno de aventuras en The Legend of Zelda: Breath of the Wild, una nueva saga que rompe los esquemas de la aclamada serie. Viaja a través de praderas y bosques, y alcanza cimas de montañas mientras descubres cómo cayó en la ruina el reino de Hyrule en esta emocionante aventura al aire libre. Ahora con Nintendo Switch, tu aventura será más libre y extensa que nunca. Lleva tu consola y vive una gran aventura como Link de la manera que más te guste.</p>
  </div>

  <footer>
    <p>&copy; 2023 Samir Spraud Rodriguez</p>
  </footer>
  <script src="/public/Assets/js/bootstrap.js"></script>
  <script src="/Assets/js/jquery-3.6.3.min.js"></script>
</body>

</html>
