<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/Assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Assets/css/page1.css">
  <link rel="stylesheet" href="/Assets/css/index.css">
  <title>The Legend of Zelda: Breath of the Wild</title>
  <link rel="shortcut icon" href="/Assets/img/ico.png">
</head>

<body class="page4">
  <nav>
    <a href="/">Inicio</a>
    <a href="/page1">Información General</a>
    <a href="/page2">Características</a>
    <a href="/page3">Galería de Imágenes</a>
    <a href="/page4">Resumen de la Historia</a>
    <a href="/form">Formulario</a>

  </nav>
  <header>

  </header>

  <div id="resumen-historia" class="contenido text-center">
    <h1 class="text-center">Resumen de la Historia</h1>
    <p>
      "The Legend of Zelda: Breath of the Wild" se desarrolla en el reino de Hyrule, donde el valiente
      guerrero Link despierta de un sueño de cien años para enfrentar una amenaza ancestral: Calamity Ganon.
      Esta entidad malévola corrompió la tierra y amenaza con destruir todo lo que queda en su camino.
      Link, dotado de su coraje y destrezas, debe explorar el vasto mundo, recuperar sus recuerdos perdidos
      y reunir los poderes necesarios para enfrentar a Calamity Ganon y salvar a Hyrule.
    </p>
    <p>
      A través de recuerdos fragmentados y encuentros con diversos personajes, Link descubre la relación entre
      su pasado y el destino de Hyrule. Con la ayuda de la princesa Zelda, los campeones y las antiguas tecnologías,
      se embarca en una misión para liberar a Hyrule de la oscuridad y restaurar la paz en el reino.
    </p>
    <p>
      La lucha contra Calamity Ganon culmina en un enfrentamiento épico en el Castillo de Hyrule. Link debe
      emplear todas sus habilidades y recursos para superar los desafíos y poner fin a la amenaza que acecha el
      reino. A medida que la historia se desenvuelve, se revelan los sacrificios, la valentía y la determinación
      necesarios para proteger a Hyrule y su gente."
    </p>
  </div>

  <footer>
    <p>&copy; 2023 Samir Spraud Rodriguez</p>
  </footer>
  <script src="/Assets/js/bootstrap.js"></script>
  <script src="/Assets/js/jquery-3.6.3.min.js"></script>
</body>

</html>
